
.menuBtn{
    width: 100%;
}

.sum{
    width: 45%;
    margin: 5px;
}
.reciept{
    width: 45%;
    margin: 5px;
}

.footer{
    background-color: rgb(224, 238, 251);

}

.btn{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(144, 152, 234) 0%, rgb(79, 86, 166) 35%, rgb(18, 6, 249) 100%);
}